.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 300px;
  line-height: 30px;
  margin-bottom: 30px;
  background-color: cadetblue;
  border-radius: 50px;
}
